<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754029726829-bmvjm592tht35p0ohdjm58ldb42u4g6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754029726829-bmvjm592tht35p0ohdjm58ldb42u4g6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDzEJFcCWvKAK44C2cYPBk9NRIBfwUdjaA</string>
	<key>GCM_SENDER_ID</key>
	<string>754029726829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labari</string>
	<key>PROJECT_ID</key>
	<string>mylez-labari-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mylez-labari-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754029726829:ios:91708cb82a52c32a1d4364</string>
</dict>
</plist>